div#root {
  display: flex;
  justify-content: center;
  padding: 300px;
}

.verde {
  background: green;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 20px;
  padding: 50px;
}

.cinza {
  background: gray;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 20px;
  padding: 50px;
}
